.group-body {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    position: relative;
    transition: 1s;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0 0 0;
    margin: 0 0 2rem 2rem;
}

.group-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "image title"
    "image owner-members"
    "image description"
    "image user-controls";
    background-color: white;
    /* margin: 1rem; */
    padding: 1rem 0;
    width: 70%;
    max-width: 640px;
    height: 180px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}
.image {
    grid-area: image;
    width: 160px;
    height: 90px;
    margin-right: 1rem;
    display: flex;
}

.image img {
    object-fit: cover;
    width: 160px;
    height: 110px;
    border-radius: 10px;
}

.description {
    grid-area: description;
    font-size: 0.9rem;
    color: #757575;
}

.title {
    color: black;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    grid-area: title;
}

.owner-members {
    color: #877457;
    font-weight: bold;
    grid-area: owner-members;
    display: flex;
    gap: 0.3rem;
    font-size: 0.9rem;
}

.user-controls {
    grid-area: user-controls;
    padding: 0.2rem 0;
}

.group-button {
    background-color: teal;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}

.group-button-leave {
    background-color: rgb(190, 41, 91);
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}

.edit-button {
    font-size: smaller;
    background-color:goldenrod;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}
.edit-button a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .group-body {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }
    
}

@media screen and (min-width: 1400px) {
    .group-body {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
    
}

.user-card {
    display: flex;
    /* background: white; */
    flex-direction: row;
    width: max-content;
    /* border-radius: 10px; */
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
}

.user-card h4 {
    padding-right: 1rem;
}

.user-image {
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    height: 35px;
    margin: 1rem;
}

.user-card img {
    width: 35px;
    object-fit: cover;
    /* transform: translateX(-15px); */
}

.user-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.members {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    padding: 2rem;
    grid-area: members;
    overflow-y: scroll;
}

.secondary-container {
    /* height: auto; */
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #dfdfdf;
    width: 100%;
    height: 100%;
    grid-area: details;

    /* grid-area:main; */
}

.main-container {
    width: 70%;
}

.group-details {
    display: flex;
    flex-direction: column;
    grid-area: details;
    padding: 2rem;
    margin-top: 1rem;
}

.main-body {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
    "image members"
    "details members"
    "comments members";
}

.comments {
    padding: 2rem;
}

.comment-card {
    border-radius: 5px;
    background-color: #dfdfdf;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.card-user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comment-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.comment-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-card h4 {
    border-bottom: 1px solid #877457;
    padding-bottom: 1rem;
    margin: 1rem 0;
}

.create-a-comment {
    width: 100%;
    background-color: #dfdfdf;
    border-radius: 5px;
}

.comment-form {
    padding: 1rem;
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.comment-form textarea {
    flex: 1;
    padding: 1rem;
    resize: none;
    width: 100%;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.comment-form button {
    max-width: 100px;
    align-self: flex-end;
}

.me-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.me-card span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 1230px) {
    .main-body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-areas:
        "image"
        "details"
        "members"
        "comments";
    } 
}