.group-body {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    position: relative;
    transition: 1s;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0 0 0;
    margin: 0 0 2rem 2rem;
}

.group-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "image title"
    "image owner-members"
    "image description"
    "image user-controls";
    background-color: white;
    /* margin: 1rem; */
    padding: 1rem 0;
    width: 70%;
    max-width: 640px;
    height: 180px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}
.image {
    grid-area: image;
    width: 160px;
    height: 90px;
    margin-right: 1rem;
    display: flex;
}

.image img {
    object-fit: cover;
    width: 160px;
    height: 110px;
    border-radius: 10px;
}

.description {
    grid-area: description;
    font-size: 0.9rem;
    color: #757575;
}

.title {
    color: black;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    grid-area: title;
}

.owner-members {
    color: #877457;
    font-weight: bold;
    grid-area: owner-members;
    display: flex;
    gap: 0.3rem;
    font-size: 0.9rem;
}

.user-controls {
    grid-area: user-controls;
    padding: 0.2rem 0;
}

.group-button {
    background-color: teal;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}

.group-button-leave {
    background-color: rgb(190, 41, 91);
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}

.edit-button {
    font-size: smaller;
    background-color:goldenrod;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}
.edit-button a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .group-body {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }
    
}

@media screen and (min-width: 1400px) {
    .group-body {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
    
}