.group-body {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    position: relative;
    transition: 1s;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0 0 0;
    margin: 0 0 2rem 2rem;
}

.group-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "image title"
    "image owner-members"
    "image description"
    "image user-controls";
    background-color: white;
    /* margin: 1rem; */
    padding: 1rem 0;
    width: 70%;
    max-width: 640px;
    height: 180px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}
.image {
    grid-area: image;
    width: 160px;
    height: 90px;
    margin-right: 1rem;
    display: flex;
}

.image img {
    object-fit: cover;
    width: 160px;
    height: 110px;
    border-radius: 10px;
}

.description {
    grid-area: description;
    font-size: 0.9rem;
    color: #757575;
}

.title {
    color: black;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    grid-area: title;
}

.owner-members {
    color: #877457;
    font-weight: bold;
    grid-area: owner-members;
    display: flex;
    gap: 0.3rem;
    font-size: 0.9rem;
}

.user-controls {
    grid-area: user-controls;
    padding: 0.2rem 0;
}

.group-button {
    background-color: teal;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}

.group-button-leave {
    background-color: rgb(190, 41, 91);
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}

.edit-button {
    font-size: smaller;
    background-color:goldenrod;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}
.edit-button a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .group-body {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }
    
}

@media screen and (min-width: 1400px) {
    .group-body {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
    
}
.group-member-list {
    display: flex;
    flex-wrap: wrap;
}


.user-card {
    display: flex;
    background: white;
    flex-direction: column;
    width: 125px;
    height: 120px;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(217, 217, 217, 1);
    transition: 0.4s;
    cursor: pointer;
}

.user-image {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    margin-bottom: 1rem;
}

.user-card img {
    width: 80px;
    object-fit: cover;
    transform: translateX(-15px);
}

.user-card:hover {
    box-shadow: 0 5px 20px rgba(217, 217, 217, 1);
    transform: translateY(-5px);
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

.secondary-container {
    background-color: #f6f7f8;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.secondary-container h3 {
    margin-bottom: 1rem;
}

.group-details {
    /* max-width: 70%; */
    width: 70%;
    display: flex;
    justify-content: center;
    grid-area: details;
    height: 400px;
}

.right {
    padding: 2rem;
    background-color: white;
    overflow-y: scroll;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1), inset -10px -10px 10px rgba(0, 0, 0, 0.1); */
}

.right::-webkit-scrollbar {
    /* display: none; */
}


.left {
    padding: 2rem;
}