nav {
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
}

.event-body {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    position: relative;
    transition: 1s;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0 0 0;
    margin: 0 0 2rem 2rem;
}

.event-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "image date"
    "image title"
    "image location"
    "image user-controls";
    background-color: white;
    /* margin: 1rem; */
    padding: 1rem 0;
    width: 70%;
    max-width: 640px;
    height: 160px;
    flex-direction: column;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.nav-links {
    display: flex;
    gap: 1rem;
    /* margin: 1rem; */
    /* margin-left: 2rem; */
    /* margin-top: 3rem; */
    position:sticky;
    top: 0;
    background: white;
    justify-content: space-between;
    width: 60%;
    min-width: 750px;
    height: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    align-items: center;
}

.nav-links div {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #757575;
    font-weight: 600;
}

.nav-links .active {
    border-bottom: 4px solid teal;
    color: teal;
}


.image {
    grid-area: image;
    width: 160px;
    height: 90px;
    margin-right: 1rem;
    display: flex;
}

.image img {
    object-fit: cover;
    width: 160px;
    height: auto;
    border-radius: 10px;
}

.date {
    grid-area: date;
    color: #877457;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

.title {
    color: black;
    font-weight: bold;
    grid-area: title;
}

.location {
    grid-area: location;
    display: flex;
    gap: 0.3rem;
    color: #757575;
    font-size: 0.9rem;
}

.user-controls {
    grid-area: user-controls;
}

.new-event-card {
    display: inline-flex;
    background-color: rgba(117, 117, 117, 0.2);
    /* margin: 1rem; */
    padding: 1rem;
    width: 400px;
    height: 250px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(117, 117, 117, 1);
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.new-event-card:hover i {
    opacity: 1;
}

.new-event-card:hover {
    background-color: rgba(117, 117, 117, 0.3);
}

.new-event-card i {
    opacity: 0.5;
    transition: 0.5s;
}

.new-event-card {
    color: black;
}


.attend-button {
    background-color: teal;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}

.attend-button-leave {
    background-color: rgb(190, 41, 91);
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}

.edit-button {
    font-size: smaller;
    background-color:goldenrod;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0.5rem;
}
.edit-button a {
    color: white;
    text-decoration: none;
}

.new-event-button {
    background-color: teal;
    color: white;
    padding: 1rem 1rem;
    width: 150px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .event-body {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }
    
}

@media screen and (min-width: 1400px) {
    .event-body {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
    
}