.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 2rem 0;
}

.event-card {
    display: inline-flex;
    background-color: white;
    /* margin: 1rem; */
    padding: 1rem;
    width: 400px;
    height: 250px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(117, 117, 117, 1);
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
}

.event-card p {
    padding: 0.5rem 0;
}
.new-event-card {
    display: inline-flex;
    background-color: rgba(117, 117, 117, 0.2);
    /* margin: 1rem; */
    padding: 1rem;
    width: 400px;
    height: 250px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(117, 117, 117, 1);
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.new-event-card:hover i {
    opacity: 1;
}

.new-event-card:hover {
    background-color: rgba(117, 117, 117, 0.3);
}

.new-event-card i {
    opacity: 0.5;
    transition: 0.5s;
}

.new-event-card {
    color: black;
}